<div class="wrapper">
    <app-navbar></app-navbar>
    <app-sidebar></app-sidebar>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Sản phẩm</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a [routerLink]="['']">Trang chủ</a></li>
                            <li class="breadcrumb-item active">Sản phẩm</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Danh sách sản phẩm</h3>
                                <div class="card-tools">
                                    <div class="input-group input-group-sm" style="width: 150px;">
                                        <input [(ngModel)]="searchReq.keyWord" type="text" name="table_search"
                                            class="form-control float-right" placeholder="Search">

                                        <div class="input-group-append">
                                            <button (click)="onSearch()" type="submit" class="btn btn-default">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <a [routerLink]="['/product/new']" class="btn btn-success mb-2">Thêm mới</a>
                                <table id="datatableexample" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Ảnh bìa</th>
                                            <th>Tên</th>
                                            <th>Danh mục</th>
                                            <th>Chất liệu</th>
                                            <th>Nhãn hiệu</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="cursor: pointer;" [routerLink]="['/product-detail', productData.id]" *ngFor="let productData of productListData; let i=index">
                                            <td>{{i}}</td>
                                            <td style="width: 18%;">
                                                <img *ngIf="productData.images.length>0" [src]="productData.images[0].imageUrl" alt="" style="width: 70%;"
                                                    class="img-fluid">
                                            </td>
                                            <td>{{productData.name}}</td>
                                            <td>{{productData.category.name}}</td>
                                            <td>{{productData.material != null ? productData.material.name : 'None'}}
                                            </td>
                                            <td>{{productData.supplier != null ? productData.supplier.name : 'None'}}
                                            </td>
                                            <td style="width: 16%;">
                                                <a [routerLink]="['/product/update', productData.id]"
                                                    class="btn btn-info">Cập
                                                    nhật</a>
                                                <a class="btn btn-danger ml-3">Xóa</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>STT</th>
                                            <th>Ảnh bìa</th>
                                            <th>Tên</th>
                                            <th>Danh mục</th>
                                            <th>Chất liệu</th>
                                            <th>Nhãn hiệu</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <app-footer></app-footer>
</div>